/* GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
  margin-bottom: 15px;
}

p {
  margin-bottom: 20px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container {
  width: 80%;
  margin: 80px auto 0 auto;
}


.button {
  background-color: #0061fe;
  color: white;
  padding: 5px 20px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

/* UTILITIES */

.d-flex {
  display: flex;
}


.w-90 {
  width: 90%;
}

.m-autox {
  margin: 0 auto;
}

.my-20 {
  margin: 20px 0;
}

.mtop-50 {
  margin-top: 50px;
}

.py-20 {
  padding: 20px 0;
}

.hr {
  color: lightgrey;
}

.bg-lightgreen {
  background-color: lightgreen;
}

.bg-brown {
  background-color: rgb(90, 0, 0);
}

.bg-azure {
  background-color: rgb(11, 174, 238);
}

.bg-red {
  background-color: red;
}

.bg-redder {
  background-color: rgba(255, 0, 0, 0.668);
}

.bg-whale {
  background-color: rgb(144, 190, 199);
}

.bg-blue {
  background-color: rgb(16, 16, 133);
}

.bg-yellow {
  background-color: rgb(243, 227, 78);
}

/* HEADER */

header {
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  height: 80px;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid lightgray;
  box-shadow: 0 1px lightgrey;
}

header ul {
  list-style: none;
  align-items: center;
}

header ul li {
  margin: 0 10px;
  padding: 5px 10px;
  cursor: pointer;
}

header ul li a {
  text-decoration: none;
  color: black;
}

header ul li a:hover {
  text-decoration: underline;
}

/* JUMBOTRON */

.jumbotron {
  margin-top: 80px;
  background-color: rgb(138, 214, 244);
}

.jumbotainer {
  position: relative;
  top: 92px;
}

.jumbotron .title {
  padding: 50px 0;
  font-size: 40px;
}

.jumbotron .text-content {
  width: 30%;
}

.jumbotron .text-content span {
  display: block;
  cursor: pointer;
  margin: 30px 0;
}


.jumbotron .text-content span a:not(.button) {
  text-decoration: none;
  color:  black;
}

.jumbotron .text-content span a:not(.button):hover {
  text-decoration: underline;
}

.jumbotron .text-content span:last-child {
  font-size: 30px;
}

.jumbotron .image {
  width: 70%;
}


/* MAIN */


/* PLANS SECTION */
.plans {
  margin-top: 200px;
}

.plans::before {
  content: '';
  display: block;
  height: 80px;
  margin: -80px 0;
  visibility: hidden;
}

.plans .payment {
  margin: 20px 0;
}

.plans .payment>span {
  margin-right: 10px;
}

.plans .payment span:first-child span{color: #0061fe;
  padding-right: 5px;
}

.plans .payment span:last-child span {
  color: lightslategray;
  padding-right: 5px;
}

.plans .plan-row {
  justify-content: space-between;
  flex-wrap: wrap;
}

.plans .plan-row .plan-col {
  width: 30%;
  border: 1px solid lightgray;
}

.plans .plan-row .plan-col:last-child {
  width: 100%;
  margin-top: 30px;
}

.plans .plan-row .plan-col:last-child .d-flex{
  padding: 20px;
  justify-content: space-between;
}

.plan-row .plan-col:last-child .button {
  width: 40%;
  height: 30px;
}

.plan-row .plan-col h5 {
  text-align: center;
  padding: 15px 0;
  border-bottom: 1px solid lightgray;
}

.plan-row .plan-col h5 i {
  padding-right: 5px;
}

.plan-row .plan-col .content {
  padding: 20px;
}

.plan-row .plan-col .content .d-flex {
  align-items: flex-start;
}

.plan-col .content .d-flex span {
  margin-right: 5px;
}

.plan-col .content .hr {
  width: 50px;
}

/* FIND PARTNER SECTION */

.find-partner .image {
  width: 50%;
}

.find-partner .text-content {
  width: 50%;
  padding: 20px;
}

.find-partner .text-content p {
  line-height: 2em;
}

.find-partner .text-content .button{
  background-color: white;
  color: black;
  border: 1px solid grey;
}

/* PLANS FEATURE SECTION */

.plan-feature h2 {
  margin-bottom: 50px;
}

.plan-feature .cards-container {
  flex-wrap: wrap;
}

.plan-feature .card {
  width: calc(100% / 3);
  padding-right: 30px;
}

.plan-feature .card .image {
  height: 300px;
  padding: 10px 0;
}

.plan-feature .card p {
  line-height: 30px;
}

/* PARTNER SECTION */

.partners {
  margin-top: 50px;
}


.partners h2 {
  width: 40%;
  margin-bottom: 15px;
}

.partners .partners-grill {
  width: 30vw;
  height: 30vw;
  flex-wrap: wrap;
}

.partners .partners-grill .partners-square {
  width: 50%;
  height: 50%;
}

.partners .partners-grill .partners-square a {
  padding: 40px;
}

.partners-grill .partners-square img {
  object-fit: contain;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(301deg) brightness(104%) contrast(102%);
}

.partners .partners-description {
  width: 40vw;
  height: 30vw;
  padding: 30px;
  overflow-y: auto;  
  background-color: rgb(234, 233, 233);
}

.partners .partners-description .image {
  width: 30%;
  object-fit: contain;
}

.partners .partners-description .hr {
  width: 100px;
}

.partners .cta .container {
  justify-content: space-between;
  padding: 100px 0;
  margin-top: 0;
  color: rgb(98, 2, 79);
}

.partners .cta .button {
  background-color: white;
  color: black;
  height: 28px;
}

.partners .cta .button:hover {
  border: 1px solid black;
}

/* FAQ SECTION */

.faq {
  
  
  /* DEBUG */
  background-color: brown;
  height: 600px;
}

.faq .question {
  justify-content: space-between;
}

/* FOOTER */

footer {
  background-color: black;
  color: white;

  /* DEBUG */
  height: 500px;
}