/* GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

h2 {
  font-size: 32px;
}

img {
  width: 100%;
  object-fit: cover;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.button {
  background-color: #0061fe;
  color: white;
  padding: 5px 20px;
  text-decoration: none;
}

/* UTILITIES */

.d-flex {
  display: flex;
}


.w-90 {
  width: 90%;
}

.m-autox {
  margin: 0 auto;
}

/* HEADER */

header {
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  height: 80px;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid lightgray;
  box-shadow: 0 1px lightgrey;
}

header ul {
  list-style: none;
  align-items: center;
}

header ul li {
  margin: 0 10px;
  padding: 5px 10px;
  cursor: pointer;
}

header ul li a {
  text-decoration: none;
  color: black;
}

header ul li a:hover {
  text-decoration: underline;
}

/* JUMBOTRON */

.jumbotron {
  margin-top: 80px;
  background-color: rgb(138, 214, 244);
  height: 730px;
}

.jumbotron .title {
  padding: 50px 0;
  font-size: 40px;
}

.jumbotron .text-content {
  width: 30%;
}

.jumbotron .text-content span {
  display: block;
  cursor: pointer;
  margin: 30px 0;
}


.jumbotron .text-content span a:not(.button) {
  text-decoration: none;
  color:  black;
}

.jumbotron .text-content span a:not(.button):hover {
  text-decoration: underline;
}

.jumbotron .text-content span:last-child {
  font-size: 30px;
}

.jumbotron .image {
  width: 70%;
}


/* MAIN */


/* PLANS SECTION */
.plans {
  margin-top: 200px;
}

.plans .payment {
  margin: 20px 0;
}

.plans .payment>span {
  margin-right: 10px;
}

.plans .payment span:first-child span{color: #0061fe;
  padding-right: 5px;
}

.plans .payment span:last-child span {
  color: lightslategray;
  padding-right: 5px;
}

.plans .plan-row {
  justify-content: space-between;
  flex-wrap: wrap;
}

.plans .plan-row .plan-col {
  width: 30%;

  /* DEBUG */
  height: 500px;
  background-color: blueviolet;
}

.plans .plan-row .plan-col:last-child {
  width: 100%;
  margin-top: 30px;
}

.plan-row .plan-col h5 {
  text-align: center;
  padding: 15px;
  border-bottom: 1px solid lightgray;
}

.plan-row .plan-col h5 i {
  padding-right: 5px;
}

/* FIND PARTNER SECTION */

/* PLANS EXPLANATION SECTION */

/* PARTNER SECTION */

/* FAQ SECTION */

/* FOOTER */